<center><h1>Pre procesamiento de Datos</h1></center>

In [1]:
#Importar la libreria para manipulación de datos
import pandas as pd

In [25]:
# Obtener el DataSet e mostrar el contenido
df = pd.read_csv("data_act_01.csv",sep=";")
df.sample(5)

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,Range,AddressType
9838,160963299,Homeless Complaint,2016-04-05T00:00:00,18:33,2016-04-05T18:33:00,GOA,0 Block Of Elim Al,San Francisco,CA,1,NaN,Premise Address
4623,160940081,Aggressive,2016-04-03T00:00:00,0:21,2016-04-03T00:21:00,ADV,8th Av/california St,San Francisco,CA,1,NaN,Intersection
4438,160933836,Suspicious Person,2016-04-02T00:00:00,23:01,2016-04-02T23:01:00,HAN,25th St/3rd St,San Francisco,CA,1,NaN,Intersection
8413,160953009,Suspicious Vehicle,2016-04-04T00:00:00,17:45,2016-04-04T17:45:00,GOA,Judah St/42nd Av,San Francisco,CA,1,NaN,Intersection
538,160920763,Burglary,2016-04-01T00:00:00,8:16,2016-04-01T08:16:00,GOA,2000 Block Of Polk St,San Francisco,CA,1,NaN,Premise Address

In [27]:
#Observar el tipo de variables que contiene el objeto
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10051 entries, 0 to 10050
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CrimeId                10051 non-null  int64
 1   OriginalCrimeTypeName  10051 non-null  object
 2   OffenseDate            10051 non-null  object
 3   CallTime               10051 non-null  object
 4   CallDateTime           10051 non-null  object
 5   Disposition            10051 non-null  object
 6   Address                10051 non-null  object
 7   City                   9730 non-null   object
 8   State                  10048 non-null  object
 9   AgencyId               10051 non-null  object
 10  Range                  0 non-null      float64
 11  AddressType            10051 non-null  object
dtypes: float64(1), int64(1), object(10)
memory usage: 942.4+ KB

# Detección de valores nulos o perdidos

In [30]:
df.isnull().sum()

CrimeId                      0
OriginalCrimeTypeName        0
OffenseDate                  0
CallTime                     0
CallDateTime                 0
Disposition                  0
Address                      0
City                       321
State                        3
AgencyId                     0
Range                    10051
AddressType                  0
dtype: int64

# Eliminar el Rango considerando dispone datos nulos

In [31]:
df = df.drop(['Range'], axis=1)
df.sample(5)

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,AddressType
687,160921031,Passing Call,2016-04-01T00:00:00,9:42,2016-04-01T09:42:00,HAN,0 Block Of Bay St,San Francisco,CA,1,Premise Address
3766,160932570,Muni Inspection,2016-04-02T00:00:00,17:03,2016-04-02T17:03:00,HAN,Battery St/market St,San Francisco,CA,1,Intersection
328,160920387,Strongarm Robbery,2016-04-01T00:00:00,4:43,2016-04-01T04:43:00,REP,19th St/dolores St,San Francisco,CA,1,Intersection
457,160920623,Suspicious Person,2016-04-01T00:00:00,7:33,2016-04-01T07:33:00,HAN,Page St/octavia St,San Francisco,CA,1,Intersection
6001,160942526,Traffic Stop,2016-04-03T00:00:00,16:34,2016-04-03T16:34:00,CIT,Cabrillo St/funston Av,San Francisco,CA,1,Intersection

# Controlar valores perdidos o nulos

In [34]:
df = df.dropna()
df.sample(5)

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,AddressType
20,160913310,Guitar,2016-03-31T00:00:00,19:55,2016-03-31T19:55:00,GOA,500 Block Of Valencia St,San Francisco,CA,1,Premise Address
2110,160923750,500e,2016-04-01T00:00:00,22:19,2016-04-01T22:19:00,CAN,600 Block Of Larkin St,San Francisco,CA,1,Premise Address
5520,160941670,Tow Truck,2016-04-03T00:00:00,12:15,2016-04-03T12:15:00,HAN,2600 Block Of Taylor St,San Francisco,CA,1,Premise Address
8331,160952854,Poss,2016-04-04T00:00:00,17:04,2016-04-04T17:04:00,HAN,100 Block Of Dore St,San Francisco,CA,1,Premise Address
9101,160960306,Suspicious Vehicle,2016-04-05T00:00:00,4:02,2016-04-05T04:02:00,ADV,Eddy St/van Ness Av,San Francisco,CA,1,Intersection

# Id repetidos

In [24]:
print[count(df['CrimeId']).items() if y > 1]

SyntaxError: invalid syntax (96148976.py, line 1)

# Datos Vacios en la Ciudad

In [13]:
df['City'] = df['City'].replace('\s+','San Francisco')
df

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,AddressType
0,160903280,Assault / Battery,2016-03-30T00:00:00,18:42,2016-03-30T18:42:00,REP,100 Block Of Chilton Av,San Francisco,CA,1,Premise Address
1,160912272,Homeless Complaint,2016-03-31T00:00:00,15:31,2016-03-31T15:31:00,GOA,2300 Block Of Market St,San Francisco,CA,1,Premise Address
2,160912590,Susp Info,2016-03-31T00:00:00,16:49,2016-03-31T16:49:00,GOA,2300 Block Of Market St,San Francisco,CA,1,Premise Address
3,160912801,Report,2016-03-31T00:00:00,17:38,2016-03-31T17:38:00,GOA,500 Block Of 7th St,San Francisco,CA,1,Premise Address
4,160912811,594,2016-03-31T00:00:00,17:42,2016-03-31T17:42:00,REP,Beale St/bryant St,San Francisco,CA,1,Intersection
...,...,...,...,...,...,...,...,...,...,...,...
10046,160964210,Well Being Check,2016-04-05T00:00:00,23:38,2016-04-05T23:38:00,GOA,Hollister Av/hawes St,San Francisco,CA,1,Intersection
10047,160964216,Traffic Stop,2016-04-05T00:00:00,23:43,2016-04-05T23:43:00,ADV,California St/mason St,San Francisco,CA,1,Intersection
10048,160964227,Traffic Stop,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,CIT,Rosella Ct/onondaga Av,San Francisco,CA,1,Intersection
10049,160964229,Passing Call,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,Not recorded,0 Blk Herbst Rd,San Francisco,CA,1,Geo-Override
10050,160964249,Traffic Stop,2016-04-05T00:00:00,23:54,2016-04-05T23:54:00,ADV,Grant Av/geary St,San Francisco,CA,1,Intersection

# Control de las fechas

#